<a href="/items">Back to your MyPantry!</a><br /><br />

<h1><%= @item.name.upcase %> </h1>

<h2> Quantity: <%= @item.quantity %> </h2>
<h2> Available? <%= @item.available ? "&#10004;" : "Not available" %> </h2>

<a href="/items/<%= @item.id %>/edit">Edit this item</a><br />

<form method="POST" action="/items/<%= @item.id %>">
    <input type="hidden" id="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Item">
</form>
